<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer-content>
    
    <p>Content</p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id quis nam et facere illo aut non! Est pariatur voluptatem obcaecati saepe facere? Temporibus quis quibusdam, sit commodi veritatis maxime!
  </mat-drawer-content>


  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/about">About</a>
      <a mat-list-item routerLink="/contact">Contact</a>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>